{% extends "pages/base_page.html" %}
<!-- head -->
{% block head %}
<title>{{ title }}</title>
<link
	rel="icon"
	href="{{ official_artwork_image }}"
	alt="Web Page LOGO of -- {{ title }}"
/>
{% endblock head %}

<!-- content -->
{% block content %}
<!-- start of content -->

<!-- official_artwork_image ...."official-artwork" ... not work in templete so specail variable created -->
<img
	src="{{ official_artwork_image }}"
	alt="Artwork Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width=""
	height=""
/>

<!-- displays basic information related to pokemon like height, weight, ....,etc -->
<h2>Basic information</h2>
<table border="1">
	<tr>
		<td>Name</td>
		<td>{{ name }}</td>
	</tr>

	<tr>
		<td>ID</td>
		<td>{{ pokemon_id }}</td>
	</tr>

	<tr>
		<td>Weight</td>
		<td>{{ pokemon.weight }}</td>
	</tr>

	<tr>
		<td>Height</td>
		<td>
			{{ pokemon.height }} dm -
			<!-- convert dm to inches and feet value -->
		</td>
	</tr>

	<tr>
		<td>Type</td>
	</tr>
</table>

<!-- displays Stas information related to pokemon -->
<h2>Stats of Pokemon</h2>
<table border="1">
	{% for stat in pokemon.stats %}
	<tr>
		<td>{{ stat.stat.name }}</td>
		<td>{{ stat.base_stat }}</td>
	</tr>
	{% endfor %}
</table>

<!-- end of content -->
{% endblock content %}
