# python cache file
__pycache__

# vs code settings
.vscode

# ny testing folder files
z-testing

# foo-images-tag-more.html can use alternate image tag
# Pokemon-Django-Code\pages\templates\pages\info\foo-images-tag-more.html
