<!-- official_artwork_image ...."official-artwork" ... not work in templete so specail variable created -->
<img
	src="{{ official_artwork_image }}"
	alt="Artwork Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width=""
	height=""
/>

<!-- front - not so clear ... because old one -->
<img
	src="{{ pokemon.sprites.front_default }}"
	alt="Front Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width="200"
	height="200"
/>

<!-- back - not so clear ... because old one -->
<img
	src="{{ pokemon.sprites.back_default }}"
	alt="Back Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width="200"
	height="200"
/>
