{% extends "pages/base_page.html" %}
<!-- title -->
{% block title %}{{ title }}{% endblock title %}

<!-- content -->
<!-- content -->
{% block content %}
<!-- start of content -->

<!-- anima svg image best ... but dont work after #650 pokemon id -->
<img
	src="{{ pokemon.sprites.other.dream_world.front_default }}"
	alt="Anima ( Dream_world ) - svg - Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width="300"
	height="300"
/>

<!-- official_artwork_image ...."official-artwork" ... not work in templete so specail variable created -->
<img
	src="{{ official_artwork_image }}"
	alt="Artwork Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width="300"
	height="300"
/>

<h2>Basic information</h2>
<table border="1">
	<tr>
		<td>Name</td>
		<td>{{ name }}</td>
	</tr>

	<tr>
		<td>ID</td>
		<td>{{ pokemon_id }}</td>
	</tr>

	<tr>
		<td>Weight</td>
		<td>{{ pokemon.weight }}</td>
	</tr>

	<tr>
		<td>Height</td>
		<td>
			{{ pokemon.height }} dm -
			<!-- convert dm to inches and feet value -->
		</td>
	</tr>

	<tr>
		<td>Type</td>
	</tr>
</table>

<h2>Stats of Pokemon</h2>
<table border="1">
	{% for stat in pokemon.stats %}
	<tr>
		<td>{{ stat.stat.name }}</td>
		<td>{{ stat.base_stat }}</td>
	</tr>
	{% endfor %}
</table>

<!-- end of content -->
{% endblock content %}
