{% extends "pages/base_page.html" %}
<!-- head -->
{% block head %}
<title>{{ title }}</title>
<link
	rel="icon"
	href="{{ pokemon.sprites.other.dream_world.front_default }}"
	alt="Web Page LOGO of -- {{ title }}"
/>
{% endblock head %}
<!-- content -->
<!-- content -->
{% block content %}
<!-- start of content -->

<img
	src="{{ pokemon.sprites.other.dream_world.front_default }}"
	alt="Anima ( Dream_world ) - svg - Image of Pokemon - ( {{ name }} ) - whos id is - ( {{ pokemon_id }} ) .."
	width="300"
	height="300"
/>

<!-- displays basic information related to pokemon like height, weight, ....,etc -->
<h2>Basic information</h2>
<table border="1">
	<tr>
		<td>Name</td>
		<td>{{ name }}</td>
	</tr>

	<tr>
		<td>ID</td>
		<td>{{ pokemon_id }}</td>
	</tr>

	<tr>
		<td>Weight</td>
		<td>{{ pokemon.weight }}</td>
	</tr>

	<tr>
		<td>Height</td>
		<td>
			{{ pokemon.height }} dm -
			<!-- convert dm to inches and feet value -->
		</td>
	</tr>

	<tr>
		<td>Type</td>
	</tr>
</table>

<!-- displays Stss information related to pokemon -->
<h2>Stats of Pokemon</h2>
<table border="1">
	{% for stat in pokemon.stats %}
	<tr>
		<td>{{ stat.stat.name }}</td>
		<td>{{ stat.base_stat }}</td>
	</tr>
	{% endfor %}
</table>

<!-- end of content -->
{% endblock content %}
